In [1]:
import pandas as pd
import numpy as np

In [2]:
print(np.__version__)
print(pd.__version__)

1.18.5
1.0.5

## 4.
Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки. 

Чему равен выборочный коэффициент корреляции Спирмена признаков из предыдущего вопроса? Округлите до четырёх знаков после десятичной точки.

In [24]:
illiteracy = pd.read_csv('illiteracy.txt', sep = '\t')

In [25]:
illiteracy.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [26]:
from scipy import stats

In [31]:
print('pearson corr: %.4f' % stats.pearsonr(np.array(illiteracy['Illit']), np.array(illiteracy['Births']))[0])

pearson corr: 0.7687

In [32]:
print('spearman corr: %.4f' % stats.spearmanr(np.array(illiteracy['Illit']), np.array(illiteracy['Births']))[0])

spearman corr: 0.7530

In [33]:
illiteracy.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

## 1
Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [35]:
water = pd.read_csv('water.txt', sep = '\t')

In [39]:
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [37]:
print('pearson corr: %.4f' % stats.pearsonr(np.array(water['hardness']), np.array(water['mortality']))[0])

pearson corr: -0.6548

## 2.

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [38]:
print('spearman corr: %.4f' % stats.spearmanr(np.array(water['hardness']), np.array(water['mortality']))[0])

spearman corr: -0.6317

## 3
Сохраняется ли связь между признаками, если разбить выборку на северные и южные города?

Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [40]:
print('South pearson corr: %.4f' % stats.pearsonr(np.array(water[water['location'] == 'South']['hardness']),
                                                  np.array(water[water['location'] == 'South']['mortality']))[0])

print('North pearson corr: %.4f' % stats.pearsonr(np.array(water[water['location'] == 'North']['hardness']),
                                                  np.array(water[water['location'] == 'North']['mortality']))[0])

South pearson corr: -0.6022
North pearson corr: -0.3686

## 4
Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.  

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [56]:
gender_bar = np.array([[203., 239.], [718., 515.]])

In [57]:
def matthewsr(a, b, c, d):
    return (a*d-b*c)/np.sqrt((a+b)*(a+c)*(b+d)*(c+d))

print('Matthews corr: %.4f' % matthews_correlation(*gender_bar.flatten()))

Matthews corr: -0.1090

## 5.

В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля.

Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили $5.5\times10^{-8}$, нужно ввести 8).

In [60]:
from scipy.stats import chi2_contingency
chi2_contingency(gender_bar)[1]

1.0558987006638725e-05

## 6.

В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре?

Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [47]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = stats.norm.ppf(1 - alpha / 2.)

    p1 = sample1[0] / np.sum(sample1)
    p2 = sample2[0] / np.sum(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ np.sum(sample1) + p2 * (1 - p2)/ np.sum(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ np.sum(sample1) + p2 * (1 - p2)/ np.sum(sample2))
    
    return (left_boundary, right_boundary)

In [63]:
proportions_diff_confint_ind(gender_bar[:,1], gender_bar[:,0])

(0.053905233215813156, 0.13922183141523897)

## 7
Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин.

Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили $5.5\times10^{-8}$, нужно ввести 8).

In [52]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = np.sum(sample1)
    n2 = np.sum(sample2)
    
    p1 = sample1[0] / n1
    p2 = sample2[0] / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [53]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - stats.norm.cdf(z_stat)

In [69]:
print('p-value:',proportions_diff_z_test(proportions_diff_z_stat_ind(gender_bar[:,1], gender_bar[:,0])))

p-value: 8.153453089576601e-06

## 8.

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

Не доволен	Более или менее	Доволен

Не очень счастлив	197	111	33

Достаточно счастлив	382	685	331

Очень счастлив	110	342	333

Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [65]:
happiness = np.array( [[197., 111., 33. ],
                       [382., 685., 331.],
                       [110., 342., 333.]] )

In [66]:
stats.chi2_contingency(happiness)
print('Chi2 stat value: %.4f' % stats.chi2_contingency(happiness)[0])

Chi2 stat value: 293.6831

## 9

На данных из предыдущего вопроса посчитайте значение достигаемого уровня значимости.

Введите номер первой значащей цифры (например, если вы получили $5.5\times10^{-8}$, нужно ввести 8).

In [70]:
print('Chi2 stat p-value:', stats.chi2_contingency(happiness)[1])

Chi2 stat p-value: 2.4964299580093467e-62

## 10.

Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков? Округлите ответ до четырёх знаков после десятичной точки.

In [71]:
def cramers_stat(confusion_matrix):
    chi2 = stats.chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum()
    return np.sqrt(chi2 / (n*(min(confusion_matrix.shape)-1)))

In [72]:
print('V Cramer stat value: %.4f' % cramers_stat(happiness))

V Cramer stat value: 0.2412